header{
    text-align: center;
    margin-top: 5px;
    margin-left: 0px;
    background-color: rgb(0, 0, 0, 0.4);
    padding: 20px;
    color: rgb(255, 255, 255);
}

.wrapper {
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.image {
    border: 3px solid #fa7a87;
}

nav {
    border: 3px solid #a3c6fa;
    background-color: rgb(102, 235, 208);
    color: #000000;
    display: flex;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center; 
    flex-basis: auto; 
    flex-grow: 1;
    width: auto;
    flex-wrap: wrap;
}

nav li {
    list-style-type: none;
    width: auto; 
    height: auto; 
    min-width: 0px; 
    max-width: none; 
    min-height: 0px; 
    max-height: none; 
    margin: 15px 0px; 
    padding: 0px 40px; 
    display: block; 
    text-align: inherit; 
    justify-content: center; 
    order: 0; 
    flex-basis: auto; 
    flex-grow: 1;
}

nav a {
    text-decoration: none;
    color: #000000;
}

body {
    background-color: gray;
    font-family: calibri;
    font-size: 13pt;
}

p {
    background-color: rgb(0, 0, 0, 0.2);
    padding: 20px;
    color: rgb(255, 255, 255);
    width: auto; 
    height: auto; 
    min-width: 0px; 
    max-width: none; 
    min-height: 0px; 
    max-height: none; 
    margin: 0px 0px; 
    display: block; 
    text-align: inherit; 
    align-self: stretch; 
    order: 0; 
    flex-basis: auto; 
    flex-grow: 1;
}

p a {
    text-decoration: none;
    color: #000000;
}

p a:hover {
    color:rgb(56, 56, 10);
}

footer {
    /* background-image: url(../svg/gay.svg); */
    background-color: rgb(0, 0, 0, 0.4);
    padding: 20px;
    color: rgb(0, 0, 0);
    width: auto; 
    height: auto; 
    min-width: 0px; 
    max-width: none; 
    min-height: 0px; 
    max-height: none; 
    margin: 0px 0px; 
    display: block; 
    text-align: inherit; 
    align-self: stretch; 
    order: 0; 
    flex-basis: auto; 
    flex-grow: 1;
}

.getDick {
    cursor: pointer;
    color: rgb(56, 56, 10);
}

.footer-wrapper {
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 0px;
}