/*.congrats {
    border: 3px solid #fa8e47;
}*/
.welcome{
    text-align: center;
}

.image {
    border: 3px solid #fa7a87;
}

menu, ul {
    list-style: none;
    padding-left: 0px;
    text-align: center;
}

menu {
    border: 3px solid #a3c6fa;
    background-color: rgb(102, 235, 208);
}